:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

mat-drawer {
  width: 250px;
}

mat-drawer-container {
  height: 100vh;
  padding-bottom: 40px;
}

mat-drawer-content {
  padding: 20px;
}
