<div fxLayout="column" fxLayoutAlign="center">

  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-icon>account_circle</mat-icon>
    <h1>Login</h1>
  </div>

  <div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="40">

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayoutAlign="stretch" fxLayout="column">

        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Password">

        </mat-form-field>
        <div *ngIf="loginForm.controls['email'].invalid">Please enter right email format</div>
        <div *ngIf="loginForm.controls['password'].invalid">Password length min 8</div>

        <button mat-stroked-button color="primary" [disabled]="!loginForm.valid" type="submit">Login</button>
      </form>
      <div class="errorMessages" *ngIf="showError">
        <p>Wrong email or password, please try again or <a routerLink="/register">register</a></p>

      </div>

    </mat-card>

  </div>

</div>